<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <title>Error</title>
        <link rel="stylesheet" th:href="@{/styles/codeSnippetDoesNotexists_Styles.css}">
    </head>
    <body>
        <div>
            <table style="width:50%">
                <tr>
                    <td>time:</td>
                    <td th:text="${appErrorDTO.time}"/>
                </tr>
                <tr>
                    <td>status:</td>
                    <td th:text="${appErrorDTO.status}"/>
                </tr>
                <tr>
                    <td>error:</td>
                    <td th:text="${appErrorDTO.error}"/>
                </tr>
                <tr>
                    <td>message:</td>
                    <td th:text="${appErrorDTO.message}"/>
                </tr>
                <tr>
                    <td>path:</td>
                    <td th:text="${appErrorDTO.path}"/>
                </tr>
            </table>
        </div>
    </body>
</html>